body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212; /* Dark background for dark mode */
    color: #e0e0e0; /* Light text color */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #ffffff; /* White text for headers */
    margin: 20px 0;
    font-size: 28px;
    letter-spacing: 1px;
}

h1 div {
    margin-bottom: 10px;
}

h1 p {
    font-size: 18px;
    margin: 0;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #1e1e1e; /* Darker background for the table */
    border: none;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Darker shadow for better visibility */
}

th,
td {
    padding: 12px;
    text-align: center;
    border: none;
}

th {
    background-color: #333; /* Dark background for headers */
    color: #ffffff; /* White text for headers */
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

td {
    background-color: #222; /* Slightly lighter dark background for cells */
    color: #e0e0e0; /* Light text color */
    font-size: 14px;
    font-weight: 400;
}

tr:nth-child(even) td {
    background-color: #2b2b2b; /* Slightly lighter dark background for alternate rows */
}

/* Row hover effect */
tr:hover td {
    background-color: #444;
    color: #ffffff;
}

/* Highlighted and special rows */
.highlight {
    background-color: #ffab00 !important; /* Highlighted row color */
}

.special {
    background-color: #4caf50 !important; /* Special row color */
    border: 2px solid #ffffff; /* White border for special rows */
}

.search-wrapper{
    display: flex;
    gap: .25rem;
}

input{
    font-size: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive columns */
    grid-gap: 20px; /* Space between cards */
    padding: 10px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-s{
    font-size: .9rem;
    margin-bottom: .25rem;
    color: #121212;
}

.body-s{
    font-size: .8rem;
    color: #777;
}

.hide {
    display: none;
}

/* Responsive design */
@media (max-width: 768px) {
    table {
        width: 100%;
        font-size: 12px;
    }

    th,
    td {
        padding: 8px;
    }

    h1 {
        font-size: 24px;
    }
}
